## **CSV to DataFrame to JSON**

In [ ]:
from randomuser import RandomUser

In [44]:
users = RandomUser().generate_users(5)

In [79]:
# Create CSV Data from Random Users
csv_data = 'Name,Email,City,Detail.One,Detail.Two,Detail.Three\n'
for user in users:
    csv_data += user.get_full_name() + "," + user.get_email() + "," +  user.get_city()
    for i in range(1,4):
        csv_data += ',' + user.get_full_name()[0] + user.get_email()[0] + user.get_city()[0] + str(i)
    csv_data += '\n'
csv_data

'Name,Email,City,Detail.One,Detail.Two,Detail.Three\nAudrey Barbier,audrey.barbier@example.com,Gams,AaG1,AaG2,AaG3\nSavannah Moore,savannah.moore@example.com,Upper Hutt,SsU1,SsU2,SsU3\nMalou Poulsen,malou.poulsen@example.com,Billum,MmB1,MmB2,MmB3\nÖzkan Eliçin,ozkan.elicin@example.com,Kırıkkale,ÖoK1,ÖoK2,ÖoK3\nAlice Nichols,alice.nichols@example.com,York,AaY1,AaY2,AaY3\n'

In [80]:
# Write CSV Data To File
filename = "./csv/user.csv"
file = open(filename, "w")
file.write(csv_data)
file.close()

In [47]:
import pandas as pd

In [81]:
df = pd.read_csv(filename)
df

,Name,Email,City,Detail.One,Detail.Two,Detail.Three
0,Audrey Barbier,audrey.barbier@example.com,Gams,AaG1,AaG2,AaG3
1,Savannah Moore,savannah.moore@example.com,Upper Hutt,SsU1,SsU2,SsU3
2,Malou Poulsen,malou.poulsen@example.com,Billum,MmB1,MmB2,MmB3
3,Özkan Eliçin,ozkan.elicin@example.com,Kırıkkale,ÖoK1,ÖoK2,ÖoK3
4,Alice Nichols,alice.nichols@example.com,York,AaY1,AaY2,AaY3

In [82]:
import json 

result = df.to_json(orient="records")
parsed = json.loads(result)
json_object = json.dumps(parsed, indent=2)
print(json_object)

[
  {
    "Name": "Audrey Barbier",
    "Email": "audrey.barbier@example.com",
    "City": "Gams",
    "Detail.One": "AaG1",
    "Detail.Two": "AaG2",
    "Detail.Three": "AaG3"
  },
  {
    "Name": "Savannah Moore",
    "Email": "savannah.moore@example.com",
    "City": "Upper Hutt",
    "Detail.One": "SsU1",
    "Detail.Two": "SsU2",
    "Detail.Three": "SsU3"
  },
  {
    "Name": "Malou Poulsen",
    "Email": "malou.poulsen@example.com",
    "City": "Billum",
    "Detail.One": "MmB1",
    "Detail.Two": "MmB2",
    "Detail.Three": "MmB3"
  },
  {
    "Name": "\u00d6zkan Eli\u00e7in",
    "Email": "ozkan.elicin@example.com",
    "City": "K\u0131r\u0131kkale",
    "Detail.One": "\u00d6oK1",
    "Detail.Two": "\u00d6oK2",
    "Detail.Three": "\u00d6oK3"
  },
  {
    "Name": "Alice Nichols",
    "Email": "alice.nichols@example.com",
    "City": "York",
    "Detail.One": "AaY1",
    "Detail.Two": "AaY2",
    "Detail.Three": "AaY3"
  }
]

In [83]:
 # Convert a normalized dataframe into a tiered json
def json_denormalize(df):
    json_list = []
    for i in range(len(df)):
        json_dict = {}
        for key, value in df.iloc[i].items():
            dot_index = key.find('.')
            if dot_index == -1:
                json_dict[key] = value
            else:
                if key[:dot_index] not in json_dict:
                    json_dict[key[:dot_index]] = {}
                json_dict[key[:dot_index]].update({key[dot_index+1:]: value})
        json_list.append(json_dict)
    #print(json_list)
    return json_list

In [84]:
json_obj = json_denormalize(df)
json_obj

[{'Name': 'Audrey Barbier',
  'Email': 'audrey.barbier@example.com',
  'City': 'Gams',
  'Detail': {'One': 'AaG1', 'Two': 'AaG2', 'Three': 'AaG3'}},
 {'Name': 'Savannah Moore',
  'Email': 'savannah.moore@example.com',
  'City': 'Upper Hutt',
  'Detail': {'One': 'SsU1', 'Two': 'SsU2', 'Three': 'SsU3'}},
 {'Name': 'Malou Poulsen',
  'Email': 'malou.poulsen@example.com',
  'City': 'Billum',
  'Detail': {'One': 'MmB1', 'Two': 'MmB2', 'Three': 'MmB3'}},
 {'Name': 'Özkan Eliçin',
  'Email': 'ozkan.elicin@example.com',
  'City': 'Kırıkkale',
  'Detail': {'One': 'ÖoK1', 'Two': 'ÖoK2', 'Three': 'ÖoK3'}},
 {'Name': 'Alice Nichols',
  'Email': 'alice.nichols@example.com',
  'City': 'York',
  'Detail': {'One': 'AaY1', 'Two': 'AaY2', 'Three': 'AaY3'}}]